.theme-btn {
  height: 50px;
  display: block;
  width: 100%;
  border-radius: 25px;
  border: 2px solid #6c6cff;
  text-align: center;
  padding: 12px 0;
  color: #6c6cff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    border: 2px solid #fff;
    background: linear-gradient(270deg, #b671ff 0%, #656cff 100%);
    color: #fff;
  }
}

.theme-btn-solid {
  background: linear-gradient(270deg, #b671ff 0%, #656cff 100%);
  box-shadow: 0 2px 8px 0 rgba(137, 110, 255, 0.2);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:hover {
    background: linear-gradient(270deg, rgba(182, 113, 255, 0.8) 0%, rgba(101, 108, 255, 0.8) 100%);
    border: none;
  }
}
