<head>
  {{> common/metatags data.metadata}}
  {{> common/seo-urls data.seoUrlsData}}
  {{> common/stylesheets }}
  <link href="/node-static/css/team.css" rel="stylesheet" />
  {{> common/scripts locale}}
</head>

{{#with data}}

<body class='{{bodyClass}}'>
  {{> common/noscript}}
  {{> common/header header}}
  <section class="main-container">
    <div class="container d-flex justify-content-between align-items-center tourney-container">
      <h1 class="heading">{{ heading }}</h1>
      <ul class="team-list">
        {{#each content}}
        <li>
          <figure>
            <img class="img-fluid user-img" src="{{ image }}" alt="{{ name }}" />
            <figcaption>
              <ul class="team-user-info">
                <li class="user-name">{{ name }}</li>
                <li class="user-id">{{ message }}</li>
                <li class="user-location">{{ location }}</li>
              </ul>
          </figure>
        </li>
        {{/each}}
      </ul>
    </div>
  </section>
  {{> common/footer footer}}
  <script src="/node-static/js/common/main.js"></script>
</body>
{{/with}}