$color__white : #fff;
$color__black: #000;
$color__primary: #8a6cff;
$color__secondary: #171719;
$color_grey: #45454f;
$color_dark_grey:#61646b;
$footer_bg:#1f1f21;
$color_pfc:#fac134;
$color_pfc2:#6c6cff;
$color_pfc3:#d8d8d8;
$color_dark_grey: #12181c;
