<!--Tournament card-->
<div class="card">
    <div class="card-header">
        <img src="/title-image/address" alt="game title image" />
        <span class="title"> Head Ball 2</span>
    </div>
    <span class="card-region"><img src="/flag-image/address" alt="country img"/> EN</span>
    <div class="card-banner-image">
        <img src="/banner-image/address" />
    </div>
    <div class="card-info">
        <div class="game-type-detail">
            <span class="platform-detail">PLATFORM: <img src="/platform-image/address" /> DISCORD</span>
            <span class="game-type">4 VS 4</span>
        </div>
        <h3 class="title">Headball 2 (1vs1) [India] Champions of world Minicup 2019</h3>
    </div>
    <div class="card-footer">
        <div class="date-info"> <span class="date">20 Nov, 19</span><span>13:00 IST</span></div>
        <button class="action-btn">JOIN</button>
    </div>
</div>