{{#with metadata}}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="icon" href="https://cdn.game.tv/favicon.ico" sizes="32x32" />
<link rel="icon" href="https://cdn.game.tv/favicon.ico" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="https://cdn.game.tv/favicon.ico" />
<meta name="msapplication-TileImage" content="https://cdn.game.tv/favicon.ico" />
{{#if isNotProduction}}
<meta name="robots" content="noindex, nofollow" />
{{else}}
<meta name="robots" content="index,follow" />
{{/if}}
<!-- Primary Meta Tags -->
<title>{{TemplateStringReplace title  'gameName' ../game.name}}</title>
<meta name="title" content="{{TemplateStringReplace title  'gameName' ../game.name}}" />
<meta name="description" content="{{TemplateStringReplace description  'gameName' ../game.name}}" />
<meta name="author" content="Game TV" />
<meta name="copyright" content="Copyright 2019 by Game.tv, Inc. All rights reserved." />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Game TV" />
<meta property="og:url" content="{{ canonical }}" />
<meta property="og:title" content="{{TemplateStringReplace title  'gameName' ../game.name}}" />
<meta property="fb:app_id" content="" />
<meta property="og:description"
  content="Host and run thousands of mobile Esports tournaments in any game community with our tournament bot, Tourney." />
<meta property="og:image" content="https://cdn.game.tv/game-tv.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ canonical }}" />
<meta name="twitter:creator" content="@gametvesports" />
<meta property="twitter:title" content="{{TemplateStringReplace title  'gameName' ../game.name}}" />
<meta property="twitter:description" content="{{TemplateStringReplace description  'gameName' ../game.name}}" />
<meta property="twitter:image" content="https://cdn.game.tv/game-tv.png" />
{{/with}}